nav{
    list-style: none;
    display: flex;
    font-size: 24px;
    background-color: #1f41d9;
    max-height: 70px;
    position: relative;
}

.NavBar a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.links{
    text-align: right;
    display: flex;
}

.NavBar ul a:hover {
color: yellow;
cursor: pointer;

}

.logo{    
    max-height: 70px;
    position: absolute;
    /* top: -2px; */
}