.home-logo {
    float:left;
    margin-top: 50px; 
    margin-left: 50px; 
    margin-right: 140px; 
    margin-bottom: 20px; 
    border: 2px gray;
    border-style: inset;
    border-radius: 10px;
    border-color: gray;
}

.welcome {
    padding-top: 210px; 
    padding-left: 40px; 
    font-size: 75px;
} 
